{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}Employer jobs{% endblock %}

{% block main %}

    <div class="adminIndex">
        <h1>List of jobs from employers !</h1>

        <p>
            these are the list of jobs employers have sent.
        </p>

        <table>
            <tr>
                <th> Company </th>
                <th> Description </th>
                <th> Position </th>
                <th> Closing date </th>
                <th> Submit Application </th>
            </tr>
            {% for job in jobs %}
                {% if job.status is sameas("Active") and time > job.date and job.username is sameas(username) %}
                    <tr>
                        <td> {{ job.company }} </td>
                        <td> {{ job.description }} </td>
                        <td> {{ job.position }} </td>
                        <td> {{ job.date|date("l jS M h:i:s A", "Europe/Dublin")  }} </td>
                        <td>
                            <form action="/getAll/{{ job.id }}" method="post" class="messageForm">
                                <input type="hidden" name="jobId" value="{{ job.id }}">
                                <input type="submit" value="Get Applications">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                No Jobs Available
            {% endfor %}
        </table>
    </div>

{% endblock %}