{% extends '_base.html.twig' %}
{# -------------------- show all previous records of jobs ----------------------------- #}
{% block title %}Employer jobs{% endblock %}

{% block main %}

    <div class="adminIndex">
        <h1>List of jobs from employers !</h1>

        <p>
            these are the list of jobs employers have sent.
        </p>

        <h3>Active Jobs</h3>
        <table>
            <tr>
                <th> Company </th>
                <th> Description </th>
                <th> Position </th>
                <th> Closing date </th>
                <th> Submit Application </th>
            </tr>
            {# ---------------------- show all jobs that are active --------------------------- #}
            {% for job in jobs %}
                {% if job.status is sameas("Active") and job.username is sameas(username) %}
                    <tr>
                        <td> {{ job.company }} </td>
                        <td> {{ job.description }} </td>
                        <td> {{ job.position }} </td>
                        <td> {{ job.timestamp|date("l jS M h:i:s A", "Europe/Dublin")  }} </td>
                        <td>
                            {# ----------------------when time is up show button to download cv's --------------------------- #}
                    {% if job.status is sameas("Active") and time > job.timestamp and job.username is sameas(username) %}
                            <form action="/getAll/{{ job.id }}" method="post" class="messageForm">
                                <input type="hidden" name="jobId" value="{{ job.id }}">
                                <input type="submit" value="Get Applications">
                            </form>
                    {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                No Jobs Available
            {% endfor %}
        </table>

        {# ---------------------- show all jobs that are pending --------------------------- #}
        <br>
        <h3>Pending jobs</h3>

        <table>
            <tr>
                <th> Company </th>
                <th> Description </th>
                <th> Position </th>
                <th> Closing date </th>
            </tr>
            {# ---------------------- show all jobs that are pending --------------------------- #}
            {% for job in jobs %}
                {% if job.status is sameas("Pending") and job.username is sameas(username) %}
                    <tr>
                        <td> {{ job.company }} </td>
                        <td> {{ job.description }} </td>
                        <td> {{ job.position }} </td>
                        <td> {{ job.timestamp|date("l jS M h:i:s A", "Europe/Dublin")  }} </td>
                    </tr>
                {% endif %}
            {% else %}
                No Jobs Available
            {% endfor %}
        </table>
    </div>

{% endblock %}