{#----------------#}
{# templates/admin.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}Employer home{% endblock %}

{% block main %}
<div class="adminIndex">
    <h1>Active jobs from employers !</h1>
    <br>
    <a href="/pendingJob" class="createMessage">Pending Jobs</a>
    <br>
    <br>
    <p>
       these are the list of jobs employers have sent that are Active.
    </p>

    <table>
        <tr>
            <th> Company </th>
            <th> Description </th>
            <th> Position </th>
            <th> Closing date </th>
            <th> Delete job </th>
        </tr>
    {% for job in jobs %}
        {% if job.status is sameas("Active") %}
        <tr>
            <td> {{ job.company }} </td>
            <td> {{ job.description }} </td>
            <td> {{ job.position }} </td>
            <td> {{ job.timestamp|date("l jS M h:i:s A", "Europe/Dublin")  }} </td>
            <td>
                <form action="/deleteJob/{{ job.id }}" method="post" class="messageForm">
                    <input type="submit" value="Delete Job" class="tableButtonAction">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock %}
